.menu-bar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
}

#menu {
  margin-bottom: 0px;
  border-bottom: solid #f0f0f0 1px;
}

.logo-tagline {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.active {
  color: #3985ff !important;
}

#slumbr-menu-button:hover {
  color: #3985ff;
}

#how-it-works-menu-button:hover {
  color: #3985ff;
}

#about-us-menu-button:hover {
  color: #3985ff;
}

.tagline {
  display: flex;
  color: #f0f0f0;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 24px;
}

.logo {
  display: flex;
  color: #f0f0f0;
  margin-top: 1%;
  margin-bottom: -1%;
  font-size: 64px;
}

body {
  background-color: #f9c6db;
}

.banner-img {
  background: url('https://i.imgur.com/2gqy9Sb.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f9c6db;

  right: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: 45px;
  z-index: -600;
}

.carousel {
  display: flex;
  justify-content: center;
}

.section-container {
  padding-top: 20px;
}

.section-content {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.carousel-page-one {
  display: flex;
  color: black;
}

.how-to-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.under-banner {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin-top: 667px;
  background-color: white;
}

#about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

.team-pic {
  display: flex;
  width: 40%;
  margin: auto 0;
}

.us-content {
  display; flex;
  flex-direction: column;
  padding-top: 10%;
  width: 40%;
}

#flickity-2{
  margin: auto;
  width: 80%;
  height: 40%;
}

.bed-size-img {
  width: 40%;
  justify-content: center;
}

.second-carousel-image {
  display: flex;
  justify-content: center;
  max-height: 200px;
}

#flickity-3{
  margin: auto;
  width: 80%;
  height: 40%;
}

.flickity-page-dots {
  bottom: 0px;
  opacity: 0;
}
/* white circles */
.flickity-page-dots .dot {
  width: 0px;
  height: 0px;
  opacity: 0;
  background: transparent;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
}
